<nav>
  <ul>
    <li>
      <a routerLink="/home">Accueil</a>
    </li>
    <li>
      <a routerLink="/">Accueil</a>
    </li>
    <li>
      <a routerLink="/demos">Démonstration</a>
      <ul>
        <li><a routerLink="/demos/demo01">Demo 01</a></li>
        <li><a routerLink="/demos/demo2">Demo 02</a></li>
        <li><a routerLink="/demos/demo3">Demo 03</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/exos">Exercices</a>
      <ul>
        <li><a href="/exos/ex01">Exo 1</a></li>
      </ul>
    </li>

  </ul>

</nav>
